/*  ==========================================================================
    Vendor Imports
    ========================================================================== */
@import "normalize.css";
@import url(vendor/html5bp-defaults.css);
@import url(vendor/html5bp-helpers.css);

/* ==========================================================================
   Our Imports
   ========================================================================== */

@import url(colors.css);

/* --------------------------------------------------------------------------
   Component Styles
   -------------------------------------------------------------------------- */
body {
  color: var(--off-black);
  font-family: Lato;
  margin: 1em;
  background-color: var(--dark-blue);
}

* {box-sizing: border-box;}

#App {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #fff;
}

.primary-header {
    background-color: var(--light-blue);
    color:#fff;
    font-size: 1.25em;
    padding: 1em;
}

.primary-header p {
    max-width: 35em
}

.question-header {

}

.questions {
    /*padding: 0 1em 1em 1em;*/
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.question-footer {
    background-color: var(--light-blue);
    padding: 1em;
    flex-grow: 1;
}

.question {
    padding: 1em;
    border-bottom: 1px solid var(--off-white);
    margin-bottom: .5em

}

.question-text {
    margin: 0;
    margin-bottom: .5em
}

.answer-list {
    /*padding: .25em;*/
}

.answer {

}

.answer {display:flex; align-items: center; cursor: pointer;}
.answer-checkbox {
    visibility: hidden;
    width: 0;
    height: 0;
    vertical-align: middle;
    margin: 0;
}
.question-header {display: none}
.label-text {margin-left:1em; vertical-align: middle; cursor: pointer;}

@media screen and (min-width: 700px) {
    .question-header {display: block;}
    .question {
        display: flex;
        align-content: stretch;
    }

    .question-text {
        width: 180px;
        font-size: 1em;
        align-self: center;
    } 
    .answer-list, .answer-heading-list {
        display: flex;
        flex-basis: 100px!important;
        flex:1;
    }
    .answer-checkbox {
        margin-left: auto;
        margin-right: auto;
    }
    .answer-label .label-text {
        display: none!important
    }
    .question-header {
        padding-left: 180px;
        margin:1em 1em 0 1em;
    }
    .answer-header-label, .answer {
        flex:1;
        text-align: center;
        padding: .5em;
        font-size: .8em;
        font-weight:bold;
        min-width: 100px;
    }
}



/*.answer-checkbox::after {
    content: "";
    display: block;
    visibility: visible;
    width: 48px;
    height: 48px;
    background-color: var(--off-white);
    border-radius: 4px;
    font-size: 2em;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
}*/

.answer-label::before {
    content: "";
    display: inline-block;
    visibility: visible;
    width: 48px;
    height: 48px;
    background-color: var(--off-white);
    border-radius: 4px;
    font-size: 2em;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    vertical-align: middle;
}

.answer-checkbox:checked + .answer-label::before {
    content: "⚫️";
    background-color: var(--light-blue);
    color: #fff;
}

.answer-correct .answer-checkbox:checked + .answer-label::before {
    content: "✔️️";
    background-color: var(--light-green);
}

.answer-incorrect .answer-checkbox:checked + .answer-label::before {
    content: "✖️️️";
    background-color: var(--light-red);
}

.answer-missed .answer-checkbox + .answer-label::before {
    content: "❕";
    background-color: var(--light-yellow);
}
.answer-label {
    display: block;
    font-size: 1.25em;
    margin: .25em;
    width: 100%;
}

.button {
    width: 100%;
    height: 4em;
    background-color: var(--dark-blue);
    border:none;
    border-radius: 4px;
    font-family: Lato;
    font-size: 1.25em;
    box-shadow: 0 2px 0 rgba(0,0,0,0.5);
    color: #fff;
}

